body{
  background-image: url('../plank.jpg')
}

.container {
  background-color: white;
  margin: 20px auto;
  width: 800px;
  padding: 2em 20px 20px 20px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  -webkit-border-radius:    30px;
  -moz-border-radius:       30px;
  border-radius:            30px;
}

.container h1 {
  font-size: 17pt;
}
.x_img{
  height: 1em;
}
.new_action{
  padding-left: 4%;
  margin: auto;
  width: 800px;
  border: 3px;
}
.error{
  text-align: center;
  background-color: red;
  color: white
  margin 0 auto;
}


nav {
  -webkit-border-radius:  30px;
  -moz-border-radius:     30px;
  border-radius:          30px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  margin: auto;
  display: block;
  background-color: white;
  float: center;
  width: 70%;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

.event_link{
  line-height: 1.5em;
}

.container ul{
  list-style-type:none;
}

.container ul li{
  padding-left: 2%;
  padding-right: 2%;
}
.lift{
  padding: 1%;
  display: block;
  -webkit-box-shadow:  5px 11px 10px 4px rgba(12, 0, 0, .5);
  box-shadow:  5px 11px 10px 4px rgba(12, 0, 0, .5);
}
.completed{

  /*background-color: #BDBDBD;*/
}


nav li a:hover {
  text-decoration: underline;
}

.create{
  color: #DB1D00;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.delete_me{
  float:right;
}

.edit_note{
  margin-top: -1em;
  float:right;
}